@media (max-width: 1024px) {
  .dashboard__stats {
    grid-template-columns: repeat(2, 1fr);
  }

  .main__content .content {
    margin-top: 4px;
    border-radius: 8px;
    padding: 12px 16px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
  }
}

/* ========================================
========================  768 px  ====================
====================================================== */ 
@media (max-width: 768px) {
  .layout__container {
    display: grid;
    grid-template-columns: 1fr;
    min-height: 100vh;
  }

  .sidebar {
    background-color: var(--white);
    position: fixed;
    top: auto;
    bottom: 0;
    left: 0;
    height: auto;
    box-shadow: 10px 0px 12px rgba(0, 0, 0, 0.03);
    padding: 12px 16px;
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .sidebar__logo {
    display: none;
  }

  .sidebar .sidebar__nav li a span {
    display: none;
  }

  svg {
    height: 32px;
  }
  .sidebar .sidebar__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 64px;
  }

  .main__content {
    padding-bottom: 90px;
  }

  header {
    position: relative;
  }

  .navbar .navbar__links {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 100%;
    right: -100%;
    gap: 48px;
    height: 100vh;
    background-color: var(--surface);
    width: 60%;
    padding: 40px;
    font-size: 3rem;
    transition: right 0.3s ease-in-out;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.03);
  }
  .navbar .navbar__links.active {
    display: flex;
    right: 0;
}


  .features__grid {
    margin-top: 0px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 12px;
    border-radius: 12px;
    gap: 24px;
    justify-content: center;
  }

  .section-header {
    padding: 12px 0;
  }

  .cta {
    margin-top: 28px;
  }

  .ham__menu {
    display: flex;
  }

  .navbar .navbar__actions {
    display: none;
  }
}

@media (max-width: 425px) {
  .navbar__logo {
    font-size: 1.8rem;
  }

  .navbar .navbar__actions {
    display: none;
  }

  .hero {
    margin-top: -2px;
    padding: 24px;
    text-align: center;
  }

  .hero__content h1 {
    font-size: 2.8rem;
    margin-bottom: 12px;
    text-align: center;
  }

  .hero__content h1 span {
    text-align: center;
  }

  .hero__content p {
    font-size: 1.6rem;
    max-width: 500px;
    text-wrap: wrap;
    text-align: center;
    margin-bottom: 20px;
    line-height: 1.6;
  }

  .section-header h2 {
    margin-bottom: 12px;
    font-size: 2.1rem;
  }

  .section-header p {
    font-size: 1.2rem;
  }

  .stats {
    margin-top: 12px;
  }

  .cta {
    margin-top: 16px;
  }
}
